<div id="<%= dom_id alcohol_log %>">
  <p>
    <strong>Check time:</strong>
    <%= alcohol_log.check_time %>
  </p>

  <p>
    <strong>Confirmation:</strong>
    <%= alcohol_log.confirmation %>
  </p>

</div>
