<% content_for :title, "Editing alcohol log" %>

<h1>Editing alcohol log</h1>

<%= render "form", alcohol_log: @alcohol_log %>

<br>

<div>
  <%= link_to "Show this alcohol log", @alcohol_log %> |
  <%= link_to "Back to alcohol logs", alcohol_logs_path %>
</div>
